{% templatetag openblock %} load i18n {% templatetag closeblock %}{% templatetag openblock %} trans "Greetings" {% templatetag closeblock %} {% templatetag openblock %}  if user.get_full_name {% templatetag closeblock %}{{ user.get_full_name }}{% templatetag openblock %}  else {% templatetag closeblock %}{{ user }}{% templatetag openblock %} endif {% templatetag closeblock %},

{% templatetag openblock %}  blocktrans {% templatetag closeblock %}You are receiving this email because you (or someone pretending to be you)
requested that your password be reset on the {% templatetag openvariable %} domain {% templatetag closevariable %} site.  If you do not
wish to reset your password, please ignore this message.

To reset your password, please click the following link, or copy and paste it
into your web browser:{% templatetag openblock %}  endblocktrans {% templatetag closeblock %}

{% templatetag openvariable %} protocol {% templatetag closevariable %}://{% templatetag openvariable %} domain {% templatetag closevariable %}{% templatetag openblock %} url 'password_reset_confirm' uid token {% templatetag closeblock %}

{% templatetag openblock %}  blocktrans with username=user.username {% templatetag closeblock %}
Your username, in case you've forgotten: {% templatetag openvariable %} username {% templatetag closevariable %}

Best regards,
{% templatetag openvariable %} site_name {% templatetag closevariable %} Management
{% templatetag openblock %} endblocktrans {% templatetag closeblock %}