{% templatetag openblock %} extends "registration_base.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n %}
{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} trans "Password changed" {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block content {% templatetag closeblock %}
{% templatetag openblock %} trans "Password successfully changed!" {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

