{% templatetag openblock %} extends "registration_base.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}
{% templatetag openblock %} block title {% templatetag closeblock %}Reset password{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block content {% templatetag closeblock %}{% templatetag openblock %} blocktrans {% templatetag closeblock %}
Forgot your password?  Enter your email in the form below and we'll send you
instructions for creating a new one.{% templatetag openblock %} endblocktrans {% templatetag closeblock %}
<form method='post' action=''>{% templatetag openblock %} csrf_token {% templatetag closeblock %}
<table>
    {% templatetag openvariable %} form {% templatetag closevariable %}
    <tr><td></td><td><input type='submit' value="{% templatetag openblock %} trans "Reset password"  {% templatetag closeblock %}" /></td></tr>
</table>
</form>
{% templatetag openblock %} endblock {% templatetag closeblock %}
