{% templatetag openblock %} extends "registration_base.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}
{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} trans "Password reset complete" {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block content {% templatetag closeblock %}{% templatetag openblock %} blocktrans {% templatetag closeblock %}
Your password has been reset!  You may now <a href="{% templatetag openvariable %} login_url {% templatetag closevariable %}">log in</a>.
{% templatetag openblock %} endblocktrans {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
