{% templatetag openblock %} extends "registration_base.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}
{% templatetag openblock %} block title {% templatetag closeblock %} Change password {% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block content {% templatetag closeblock %}
<form method='post' action=''>{% templatetag openblock %} csrf_token {% templatetag closeblock %}
<table>
    {% templatetag openvariable %} form {% templatetag closevariable %}
    <tr><td></td><td><input type='submit' value="{% templatetag openblock %} trans "Change password" {% templatetag closeblock %}" /></td></tr>
</table>
</form>
{% templatetag openblock %} endblock {% templatetag closeblock %}
