{% templatetag openblock %} extends "registration_base.html" {% templatetag closeblock %}
{% templatetag openblock %} load i18n {% templatetag closeblock %}
{% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} trans "Password reset" {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} block content {% templatetag closeblock %}
<p>
{% templatetag openblock %} blocktrans{% templatetag closeblock %}We have sent you an email with a link to reset your password.
Please check your email and click the link to continue.{% templatetag openblock %} endblocktrans {% templatetag closeblock %}
</p>
{% templatetag openblock %} endblock {% templatetag closeblock %}
