{% templatetag openblock %} load i18n {% templatetag closeblock %}
{% templatetag openblock %} comment {% templatetag closeblock %}
This template is used for the html alternative of the activation email
if you use a django-registration backend that looks for it. e.g.

{% templatetag openblock %} endcomment {% templatetag closeblock %}
{% templatetag openblock %} url 'registration_activate' activation_key as activation_key_url {% templatetag closeblock %}
{% templatetag openblock %} blocktrans with sitename=site.name sitedomain=site.domain {% templatetag closeblock %}<body>
<h3>Account registration for {% templatetag openvariable %} sitename {% templatetag closevariable %}</h3>
<p>
You (or someone pretending to be you) have asked to register an account at
<b>{% templatetag openvariable %} sitename {% templatetag closevariable %}</b>.<br/>
If this wasn't you, please ignore this email and your address will be removed
from our records.
</p>
<p>
To activate this account, please click the following link within the next 
<b>{% templatetag openvariable %} expiration_days {% templatetag closevariable %}</b> days:<br/>
<a href="http://{% templatetag openvariable %} sitedomain {% templatetag closevariable %}{% templatetag openvariable %} activation_key_url {% templatetag closevariable %}">http://{% templatetag openvariable %} sitedomain {% templatetag closevariable %}{% templatetag openvariable %} activation_key_url {% templatetag closevariable %}</a>
</p>
<p>
Sincerely,<br/>
{% templatetag openvariable %} sitename {% templatetag closevariable %} Management
</p>
</body>
{% templatetag openblock %} endblocktrans {% templatetag closeblock %}